<%- include('../partials/header') %>
  <%= title %>
  <section id="index-page">
    <img id="index-phase" src="https://totemsurftribe.files.wordpress.com/2024/03/pngaaa.com-1343387.png">

    <table id="list">
      <thead>
        <tr>
          <!-- <th>Date</th> -->
          <th>Goal</th>
          <th>Purpose</th>
          <th>Progress</th>
          <th>Evolve</th>
          <th>&#127804;</th>
          <th>Release</th>
        </tr>
      </thead>
      <tbody>
        <% goals.forEach(function(goal) { %>
          <% if (!goal.accomplished) { %>
            <tr>
              <!-- <td><%= goal.createdAt.toString().slice(0, 16) %></td> -->
              <td>
                <%= goal.goal %>
              </td>
              <td>
                <%= goal.setIntentions %>
              </td>
              <td><a href="/goals/<%= goal._id %>">JOURNAL</a></td>
              <td><a href="/goals/<%= goal._id %>/edit">EDIT</a></td>
              <td>
                <form id="mark-done-form" action="/goals/<%= goal._id %>/done" method="POST">
                  <input type="hidden" name="goalId" value="<%= goal._id %>"> 
                  <button type="submit">DONE</button>
                </form>
              </td>
                <form id="delete-goal" action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              </td>
              </td>
              <% } %>
            </tr>

            <% }); %>

          </section>
          
              <%- include('../partials/footer') %>
