<%- include('../partials/header') %>
  <img id="goals-show-img"
    src="https://totemsurftribe.files.wordpress.com/2024/03/e28094pngtreee28094moon-phase-geometric-black-figure_6491358-1-2182384788-e1710848276753.png">

  <section id="show-page">
    <div></div>
    <col span="3">
    <container class="goal-box">
      <a href="/journalPrompts"><img id="show-box-moon"
          src="https://totemsurftribe.files.wordpress.com/2024/03/1670133.png?resize=219%2C219"></a>
      <label>
        <h2>Goal</h2>
      </label>
      <div>
       Goal: <%= goal.goal %>
          <div>Action Items:<%= goal.actionItems %>
          </div>
          <div>Intention: <%= goal.setIntentions %>
          </div>
          <div>Productivity Ideas:
            <%=goal.productivityIdeas %>
          </div>
          <div>Details:
            <%= goal.additionalDetail %>
          </div>
          <div>Accomplish By:
            <%= goal.finishby?.toString().slice(0, 16) %>
          </div>
    </container>
    </table>


    <div>
      <label>
        <h2>Journal Entries<br>
          <label>Current Lunar Phase</label>
          <%=phase%><%= phaseEmoji %></h2>
        </lablel>
        <form id="add-journalEntry-form" method="POST" action="/goals/<%= goal._id %>/journals">
          <label>New Journal Entry:</label>
          <textarea name="content"></textarea>
          <input type="submit" value="Add New Journal Entry">
        </form>

    </div>

      <% if (goal.journalEntry) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <!-- <th>Lunar Phase</th> -->
              <th>Jornal Entry</th>
              <th>Reflection</th>
            </tr>
          </thead>
          <tbody>

            <% goal.journalEntry.forEach(function(j) { %>
              <tr>
                <td class="entry-date">
                  <%= j.createdAt.toString().slice(0, 16) %>
                </td>
                <!-- <td class="moon-phase">
                          <%=phase%>
                            <%=phaseEmoji%>
                        </td> -->
                <td>
                  <%= j.content %>
                </td>

                <td>
                  <% if (user?._id.equals(j.user)) { %>


                    <form id="update-journalEntry-form" action="/journals/<%= j._id %>?_method=PUT" method="POST">
                      <!-- Value attribute is being set to the comment's current text -->
                      <input name="content" value="">
                      <button type="submit">Update this Entry</button>
                    </form>




                    <form id="delete-journalEntry-form" action="/journals/<%= j._id %>?_method=DELETE" method="POST">
                      <button type="submit">Delete Entry</button>

                    </form>
                    <% } %>
                </td>
              </tr>
              <% }); %>
                <tr>
                  <td colspan="1"></td>

                </tr>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Journal Entries Yet</h5>
          <% } %>

            <%- include('../partials/footer') %>