<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>

  <section id="journalprompts-show-page">


    <div>
      <h2>Current Moon Phase: <%= phase %>
          <%= phaseEmoji %>
      </h2>
    </div>

    <h3>Moon Magic: Harnessing the Spirtual Power of Moon Energies means you align your routines and practices with the energies of each cycle. The moon can serve as a "Spiritual Calender".</h3>
    </div>
    <h2>Here are some themes to consider for each moon phase:</h2>
    </div>
    <table id="journal-ideas">




      <div class="main-prompts-circle">
        <table class="journalprompts-phase">


          <div class="container">
            <div class="sticky-notes paper">
              New Moon: Fresh Start 
            </div>
          </div>

          <div class="container">
            <div class="sticky-notes paper">
              Waxing Crescent: Manifest
            </div>
          </div>



          <div class="container">
            <div class="sticky-notes paper">
              First Quarter: Maintain Balance
            </div>
          </div>

          <div class="container">
            <div class="sticky-notes paper">
              Waxing Gibbous: Endure
            </div>
          </div>

          <div class="container">
            <div class="sticky-notes paper">
              Full Moon: Culmination
            </div>
          </div>

          <div class="container">
            <div class="sticky-notes paper">
              Waning Gibbous: Release
            </div>
          </div>



          <div class="container">
            <div class="sticky-notes paper">
              Third Quarter: Set Boundaries
            </div>
          </div>

          <div class="container">
            <div class="sticky-notes paper">
              Waning Crescent: Self-Care
            </div>
          </div>

          <tr>
            <td>
              <%= journalPrompts.newMoon %>
            </td>
            <td>
              <%= journalPrompts.waxingCrescent %>
            </td>
            <td>
              <%= journalPrompts.firstQuarter %>
            </td>
            <td>
              <%= journalPrompts.waxingGibbous %>
            </td>
            <td>
              <%= journalPrompts.fullMoon %>
            </td>
            <td>
              <%= journalPrompts.waningGibbous %>
            </td>
            <td>
              <%= journalPrompts.thirdQuarter %>
            </td>


          </tr>
          </tbody>
        </table>








        <%- include('../partials/footer') %>